
@section styles {
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


@if (!(ViewBag.LoginView == true))
{
    <div class="sidebar">
        <div class="logosec">
            <h1 style="font-family: 'Newsreader', serif; font-weight: bold; ">GasTue</h1>
        </div>
        <div class="menu">
            <a href="/Home/Index"> <i class="fa-solid fa-table-columns"></i> Dashboard</a>
            <a href="/Expense/Index"> <i class="fa-solid fa-money-bill"></i> Expenses</a>
             <a href="/Category/Index"> <i class="fa-solid fa-list"></i> Category</a>
        </div>

        <div class="toggle-switch ">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                    <i class="fas fa-moon"></i> Mode
                </label>
            </div>
        </div>
        <a asp-action="SignOutUser" asp-controller="Account" class="logout-button">
            <i class="fa-solid fa-right-from-bracket"></i> Logout
        </a>

    </div>
}

<script>
    // Check if the switch state is stored in localStorage
    const switchState = localStorage.getItem('switchState');
    const switchElement = document.getElementById('flexSwitchCheckDefault');

    // If a state is stored, apply it to the switch
    if (switchState === 'on') {
      switchElement.checked = true;
    } else {
      switchElement.checked = false;
    }

    // Add an event listener to the switch
    switchElement.addEventListener('change', function() {
      // Save the current state of the switch to localStorage
      if (this.checked) {
        localStorage.setItem('switchState', 'on');
      } else {
        localStorage.setItem('switchState', 'off');
      }
    });
</script>