@if (!(ViewBag.LoginView == true))
{
    <div class="sidebar">
        <div class="logosec">
            <h2>GasTwo</h2>
        </div>
        <div class="menu">
            <a href="/Home/Index">Dashboard</a>
            <a href="/Expense/Index">Expenses</a>
            <a href="/Category/Index">Category</a>
        </div>
    </div>
}
