@using ASI.Basecode.Services.ServiceModels
@model UserViewModel

@{
    ViewBag.LoginView = true;
    ViewBag.Title = "Reset Password";
    var token = Context.Request.Query["token"].ToString();
}

@section styles {
    <link rel="stylesheet" href="~/css/forgotpassword.css" />
}

@if (string.IsNullOrEmpty(token))
{
    // Redirect or submit the form via JavaScript
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Submit the form if the token is empty
            document.getElementById("resetPasswordForm").submit();
        });
    </script>
}

<div class="container fp-container">
    <h1 class="header-text text-center mb-5">GasTue</h1>
    <div class="card fp-card">
        <a href="/Account/Login" class="btn-back"></a>
        <div class="card-body">
            <h2 class="text-center fp-text mb-4">Reset Password</h2>
            <form action="/Account/ResetPassword" method="post">                
                <div class="form-outline mb-4">
                    <label class="form-label" for="newPassword">New Password</label>
                    <input type="password" asp-for="NewPassword" id="newPassword" name="newPassword" class="form-control custom-input" placeholder="Enter new password" required>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" asp-for="ConfirmPassword" name="ConfirmPassword" class="form-control custom-input" placeholder="Confirm new password" required>
                </div>
                <input type="hidden" id="token" name="token" value="@token" />
                <button type="submit" class="btn btn-submit">Reset Password</button>
            </form>
        </div>
    </div>
</div>

<script>
    // Check for error message and display Toastr notification
    var errorMessage = '@TempData["ErrorMessage"]';
    if (errorMessage) {
        toastr.error(errorMessage);
    }

    // Check for success message and display Toastr notification
    var successMessage = '@TempData["SuccessMessage"]';
    if (successMessage) {
        toastr.success(successMessage);
    }
</script>