@{
    ViewBag.LoginView = true;
    ViewBag.Title = "Reset Password";
}

@section styles {
    <link rel="stylesheet" href="~/css/forgotpassword.css" />
}

<div class="container fp-container">
    <h1 class="header-text text-center mb-5">GasTue</h1>
    <div class="card fp-card">
        <a href="/Account/Login" class="btn-back"></a>
        <div class="card-body">
            <h2 class="text-center fp-text mb-4">Reset Password</h2>
            <form action="/Account/ResetPassword" method="post">
                
                @* <input type="hidden" name="Token" value="<!-- Add token here -->"> *@
                <div class="form-outline mb-4">
                    <label class="form-label" for="newPassword">New Password</label>
                    <input type="password" id="newPassword" name="NewPassword" class="form-control custom-input" placeholder="Enter new password" required>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="ConfirmPassword" class="form-control custom-input" placeholder="Confirm new password" required>
                </div>
             
                <button type="submit" class="btn btn-submit">Reset Password</button>
            </form>
        </div>
    </div>
</div>