
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.modal-content {
    width: 600px;
    height: 500px;
    padding: 2rem;
    margin: auto;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    border-radius: 10px;
    background-color: #FAFAF5;
}


.title {
    font-family: 'Newsreader', serif;
    text-align: left ;
    margin-left: -20px !important;
}


body {
    font-family: 'Newsreader', serif;
    background-color: #FAFAF5;
}

h1 {
    color: #426B1F;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-success {
    background-color: #426B1F !important;
    height: 50px;
}
 

.modal-title {
    font-family: 'Newsreader', serif;
    font-weight: 530;
    color: #426B1F;       
}

.input-field {
    margin-top: 10px;
    background-color: #E5EEDE;
    height: 40px;
}

.textarea-field {
    background-color: #E5EEDE;
    height: 200px !important;
    resize: none;
}

.btn-custom {
    background-color: #426B1F;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 0.9rem;
}

 .btn-custom:hover {
    background-color: #426B1F;
    cursor: pointer;
 }

.btn-outline-success {
    padding: 12px 20px;
    font-size: 0.9rem;
    border-radius: 10px;
}

.close {
    font-size: 1.5rem;
    color: #000;
    opacity: 0.7;
}

.close:hover {
     color: #000;
     opacity: 1;
}

::placeholder {
    font-weight: 500;
}

