body {
    font-family: 'Newsreader', serif;
    background-color: #FAFAF5;
    margin: 0;
    padding: 0;
}

    body.dark-mode {
        background-color: #2e2e2e; /* Dark mode background color */
        color: white; /* Dark mode text color */
    }

        body.dark-mode .table-container {
            background-color: #2e2e2e; /* Dark mode background color */
            color: white; /* Dark mode text color */
        }

        body.dark-mode .card {
            background-color: #333333;
            color: #D1D1D1;
        }

.dashboard-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #426B1F;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.date-picker {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.date-input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #A9BFA7;
    font-size: 1rem;
}

.generate-report-btn {
    background-color: #426B1F;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.summary-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card {
    background-color: #FAFAF5;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card-title {
    font-weight: 600;
    font-size: 1rem;
    color: #333;
    text-align: center;
}

.card-value {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
    text-align: center;
}

.table-container {
    background-color: #f8f8f8;
    border-radius: 12px;
}

    .table-container h2 {
        font-size: 1.5rem;
        color: #426B1F;
        margin-bottom: 15px;
    }


.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

    .table th, .table td {
        padding: 15px;
        text-align: left;
        font-size: 1.1rem;
    }

    .table thead th {
        font-weight: bold;
        color: #426B1F;
        border-bottom: 2px solid #426B1F;
    }

    .table tbody tr {
        border-bottom: 1px solid #ddd;
    }

        .table tbody tr:last-child {
            border-bottom: none;
        }

.badge-category {
    background-color: #A9BFA7;
    color: #333;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 0.9rem;
}

.export-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;

}

.export-btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.csv-btn {
    background-color: white;
    color: #426B1F;
    border: 2px solid #426B1F;
}
.pdf-btn {
    background-color: #426B1F;
    color: white;
    
}

.chart-section {
    display: flex;
    flex-direction: column;
}

.highcharts-figure {
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

.chart-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.chart-half-row {
    flex: 1;
    background-color: #FAFAF5;
    border-radius: 10px;
}
