
body {
    background-image: url('../img/bg-login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.form-label {
    font-weight: 600;
    color: #426B1F;
}

.fp-container {
    margin-top: 100px;
    max-width: 400px;
}

.fp-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FAFAF5;
}

.btn-submit {
    background-color: #426B1F;
    color: #fff;
    width: 100%;
}

.custom-input {
    background-color: #E5EEDE;
}

.header-text {
    font-family: 'Newsreader', serif;
    font-size: 3rem;
    color: #426B1F;
    font-weight: bold;
    margin-top: 1rem;
}

.fp-text {
    font-family: 'Newsreader', serif;
    font-weight: 600;
    color: #426B1F;
}



/*Verify OTP CSS*/

.fp-container {
    margin-top: 100px;
    max-width: 400px;
}

.fp-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FAFAF5;
}

.btn-submit {
    background-color: #426B1F;
    color: #fff;
    width: 100%;
}

.custom-input {
    background-color: #E5EEDE;
}

.header-text {
    font-family: 'Newsreader', serif;
    font-size: 3rem;
    color: #426B1F;
    font-weight: bold;
    margin-top: 1rem;
}

.fp-text {
    font-family: 'Newsreader', serif;
    font-weight: 600;
    color: #426B1F;
}

/*CSS For ResetPassword*/
.fp-container {
    margin-top: 100px;
    max-width: 400px;
}

.fp-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FAFAF5;
    position: relative;
}

.btn-submit {
    background-color: #426B1F;
    color: #fff;
    width: 100%;
}

.custom-input {
    background-color: #E5EEDE;
}

.header-text {
    font-family: 'Newsreader', serif;
    font-size: 3rem;
    color: #426B1F;
    font-weight: bold;
    margin-top: 1rem;
}

.fp-text {
    font-family: 'Newsreader', serif;
    font-weight: 600;
    color: #426B1F;
}

.btn-back {
    position: absolute;
    top: 30px;
    right: 20px;
    background-color: #426B1F;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

    .btn-back::before {
        content: '←';
        margin-right: 5px;
    }