.login-heading {
    font-size: 2.5rem;
}

.form-label {
    font-weight: 600;
    color: #426B1F;
}

.btn-login {
    width: 200px;
    height: 48px;
    padding: 10px 20px;
    font-size: 18px;
    border-width: 2px;
    display: block;
    margin: 0 auto;
    background-color: #426B1F;
}

.login-card {
    padding: 10px;
    width: 500px;
    min-height: 600px;
    flex-shrink: 0;
    background-color: #FAFAF5;
    border-radius: 10px;
    margin-left:-70px;
}

.create-btn {
    padding: 10px 20px;
    font-size: 16px;
    border-width: 2px;
    width: auto;
    height: auto;
    display: inline-block;
}

.input {
    background-color: #E5EEDE;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 10px;
    height: 50px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px)

}

.header-text {
    font-family: 'Newsreader', serif;
    font-size: 3rem;
    color: #426B1F;
    font-weight: bold;
    text-align: center;
}
