
body {
    background-image: url('../img/bg-login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}

.login-heading {
    font-size: 2.5rem;
}

.form-label {
    font-weight: 600;
    color: #426B1F;
}

.btn-login {
    width: 200px;
    height: 48px;
    padding: 10px 20px;
    font-size: 18px;
    border-width: 2px;
    display: block;
    margin: 0 auto;
    background-color: #426B1F;
    border-radius: 10px;
}

.login-card {
    padding: 10px;
    width: 450px;
    min-height: 300px;
    flex-shrink: 0;
    background-color: #FAFAF5;
    border-radius: 24px;
    margin-left: -70px;
    box-shadow: 2px 2px 9px 4px rgba(0, 0, 0, 0.3);
}

.create-btn {
    padding: 10px 20px;
    font-size: 16px;
    border-width: 2px;
    width: auto;
    height: auto;
    display: inline-block;
}


.input {
    background-color: #E5EEDE;
    font-weight:500;
    padding: 15px;
    border-radius: 10px;
    height: 50px;
    border-color: white;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    font-family: 'Newsreader', serif;
    font-size: 3rem;
    color: #426B1F;
    font-weight: bold;
    text-align: center;
    margin-right: 3rem;
    margin-top: 1rem;

}
