
.login-heading {
    font-size: 2.5rem;
}

.form-label {
    font-weight: 600;
    color: #426B1F;
}


.btn-login {
    width: 200px; 
    height: 48px; 
    padding: 10px 20px; 
    font-size: 18px; 
    border-width: 2px; 
    display: block; 
    margin: 0 auto; 
    background-color: #426B1F;
}

.login-card-bg {
    padding: 10px;
    width: 500px;
    height: 600px;
    background-color: #FAFAF5;
    border-radius: 10px;
    margin-left: -80px;
}

.create-btn {
    padding: 10px 20px; 
    font-size: 16px; 
    border-width: 2px; 
    width: auto;
    height: auto; 
    display: inline-block; 
}

.input {
    background-color: #E5EEDE; 
    border: 1px solid #ced4da; 
    padding: 10px; 
    border-radius: 10px;
    height: 50px;
}

.login-container {
    background-color: #ffffff; /* Set background to white */
}

.header-text {
    font-family: 'Newsreader', serif;
    font-size: 3rem;
    color: #426B1F;
    font-weight: bold;
    text-align: center;
}
