body {
    background-image: url('../img/bg-login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.su-text {
    font: Inter;
    color: #000000;
    font-weight: 500;
    font-size: 48px;
}


.rcard-bg {
    background-color: #FAFAF5;
    border-radius: 20px;
}


.custom-label {
    color: #426B1F;
    font-weight: 600;
}

.input-lg {
    background-color: #E5EEDE;
    border-radius: 10px;
    height: 50px; 
    padding: 15px;
    font-size: 16px; 
}

.signup-btn {
    background-color: #426B1F;
    width: 300px;
    height: 50px;
    color: white;
    border: none;
}

.header-text {
    font-family: 'Newsreader', serif;
    font-size: 3rem;
    color: #426B1F;
    font-weight: bold;
    text-align: center;
}
