/* General Styling */
body {
    font-family: 'Newsreader', serif;
    background-color: #FAFAF5;
}

    body.dark-mode {
        background-color: #2e2e2e; /* Dark mode background color */
        color: white; /* Dark mode text color */
    }

        body.dark-mode .edit-profile-header {
            color: white;
        }

        body.dark-mode .profile-container {
            background-color: #333333;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }



.page-container {
    max-width: 800px;
    margin: auto;
    padding: 40px 20px;
    border-radius: 15px;
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);*/
}

body.dark-mode .page-container {
    /*background-color: #333333;*/
    color: white;
}

    

/* Page Heading */
h1 {
    color: #426B1F;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
}

.settings-divider {
    border: 1px solid #426B1F;
    margin-bottom: 40px;
}

/* Profile Container */
.profile-container {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: #FAFAF5;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.profile-image {
    margin-right: 20px;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-details h2 {
    color: #333;
    font-weight: bold;
    margin: 0;
}

.profile-details p,
.profile-details span {
    color: #888;
    font-size: 1rem;
    margin: 2px 0;
}

/* Form Styling */
.form-container {
    border-radius: 12px;
}

.form-label {
    color: #426B1F;
    font-weight: bold;
    font-size: 1rem;
}

.input-field {
    background-color: #E5EEDE;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 1rem;
    color: #333;
}

    .input-field::placeholder {
        color: #888;
    }

/* Button Styling */
.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.btn-save {
    background-color: #426B1F;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right:10px;
}

    .btn-save:hover {
        background-color: #365719;
        cursor: pointer;
    }

.btn-change-password {
    background-color: transparent;
    color: #426B1F;
    border: 2px solid #426B1F;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
}

    .btn-change-password:hover {
        background-color: #426B1F;
        color: white;
        cursor: pointer;
    }




.edit-profle-content {
    margin: auto;
    margin-top:200px;
    margin-left: 140px;
    background-color: #FAFAF5;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
        body.dark-mode .edit-profle-content {
            background-color: #333333;
            color: white;
        }

.edit-profile-header {
    font-size: 2rem;
    font-family: 'Newsreader', serif;
    color: #426B1F;
    font-weight: bold;
}

.profile-details h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #426B1F;
    font-weight:600;
}


.edit-profile-link {
    color: #426B1F;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

    .edit-profile-link:hover {
        color: darkgreen;
    }

    /* Style the icon inside the link */
    .edit-profile-link i {
        margin-right: 5px; 
        font-size: 24px; 
    }

    .edit-profile-link:hover i {
        transform: scale(1.2); 
        transition: transform 0.3s ease; 
    }

.toggle-switch {
    border: 1px solid;
    border-radius: 7px;
    padding: 10px;
    margin-left: auto;
}

    .toggle-switch .form-check-input:checked {
        background-color: lightgreen;
        border-color: #426B1F;
    }

/*body.dark-mode .toggle-switch .form-check-input {
    background-color: #426B1F;
    border-color: #444;
}*/

body.dark-mode .toggle-switch {
    background-color: #426B1F;
    border-color: #444;
}


